* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.th4 {
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}
.home {
  text-align: center;
}
.home > h1 {
  font-size: large;
}
footer.container-fluid {
  background-color: #343a40;
}
footer > h1 {
  color: whitesmoke;
}
.card-body {
  padding-top: 5px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
